---
import { getCollection } from 'astro:content';
import { formatDate, orderByDate } from '@helpers';
import Layout from '@layouts/Layout.astro';
import PostCard from '@components/PostCard.astro';
import Pagination from '@components/Pagination.astro';

export async function getStaticPaths({ paginate }) {
    const blogPosts = await getCollection('posts', ({data}) => !data.draft)

    const links = await getCollection('links', ({data}) => !data.draft)

    const posts = orderByDate([...blogPosts, ...links]);  
    
    return paginate(posts, {
        pageSize: 5,
    });
};

const { page } = Astro.props;
---

<Layout title="Jhon Achata — Blog" path={page.url.current}>
    <div class="divide-y-2">
        {
            page.data.map(({slug, data: post}) => (
                <PostCard
                    title={post.title}
                    href={`/${slug}`}
                    body={post.excerpt}
                    date={formatDate(post.publishedAt)}
                    type={post.type}
                    tags={post.tags || ''}
                />
            ))
        }
    </div>
    <Pagination
        length={page.lastPage}
        currentUrl={page.url.current}
        currentPage={page.currentPage}
        firstUrl={`/blog/`}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        lastUrl={`/blog/${page.lastPage}`}
    />
</Layout>
