---
import { getCollection } from 'astro:content';
import { formatDate, orderByDate } from '../helpers';
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';

const blogPosts = await getCollection('posts', ({data}) => !data.draft)
const projects = await getCollection('projects', ({data}) => !data.draft)
const links = await getCollection('links', ({data}) => !data.draft)

const posts = orderByDate([...blogPosts, ...projects, ...links]);
---

<Layout title="Jhon Achata — Inicio">
    <section class="flex-flex-col">
        {
            posts.map(({slug, data: post}) => (
                <PostCard
                    title={post.title}
                    href={
                        post.type !== 'link'
                            ? slug
                            : post.link
                    }
                    body={post.excerpt}
                    date={formatDate(post.publishedAt)}
                    type={post.type}
                    tags={post.tags || ''}
                />
            ))
        }
    </section>
</Layout>
