---
import { getCollection } from 'astro:content';
import { formatDate, orderByDate } from '../helpers';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const posts = orderByDate(await getCollection('projects', ({data}) => !data.draft));
---

<Layout
    title="Jhon Achata — Proyectos"
    description="Proyectos personales realizados con diferentes tecnologías"
    path="/proyectos"
>
    <section class="space-y-4">
        {
            posts.map(({slug, data}) => (
                <ProjectCard
                    title={data.title}
                    href={`/${slug}`}
                    body={data.excerpt}
                    tags={data.tags || ''}
                    demo={data.demo}
                    repo={data.repo}
                />
            ))
        }
    </section>
</Layout>
