---
export interface Props {
    title: string;
    body: string;
    href: string;
    date: string;
    type: string;
    tags: Array<string>;
}

const { href, title, body, date, type, tags } = Astro.props;
---

<article class="font-body border-b border-gray-300 last:border-0 pb-4">
    {
        tags.length > 0 && (
            <ul class="flex text-md text-purple-600 space-x-2">
                {tags.map((tag) => (
                    <li><a href={`/tags/${tag}`}>#{tag}</a></li>
                ))}
            </ul>
        )
    }
    <a href={href} class="group">
        <h2 class="group-hover:underline font-bold font-mono text-xl text-slate-800 mt-1">{title}</h2>
        <p class="text-slate-700 text-md my-2">{body}</p>
    </a>
    <small class="text-sm mt-1">
        <span class="uppercase text-purple-600 font-semibold">{type}</span>
        <span class="text-gray-600">— {date}</span>
    </small>
</article>
