---
import MainLayout from './MainLayout.astro';
import Footer from '../shared/Footer.astro';

import { formatDate, orderByDate } from '../helpers';
import { getCollection } from 'astro:content';

const { type, title, description, publishedAt, path, nofollow, noindex } = Astro.props;

const entries = orderByDate(
    await getCollection(type === 'artículo' ? 'posts' : 'projects', ({data}) => !data.draft)
);

const postIndex = entries.findIndex(entry => `/${entry.slug}` === path);

const previousPost = entries.length >= 1 || (entries.length - 1) === 0 ? entries[postIndex + 1] : null;
---

<MainLayout
    title={`${title} — Jhon Achata`}
    description={description}
    path={path}
    nofollow={nofollow}
    noindex={noindex}
>
    <div class="grow my-10">
        <div
            class="text-sm font-semibold flex justify-between items-center space-x-4 mb-12 md:mb-24"
        >
            <a href="/" class="dark:text-white min-w-max">« Atrás</a>
            <p class="text-gray-600 dark:text-white text-end">
                Escrito por Jhon Achata el
                {formatDate(publishedAt)}
            </p>
        </div>

        <article
            class="mb-8 max-w-none prose dark:prose-invert prose-img:w-full prose-a:text-red-700 dark:prose-a:text-red-400 prose-a:font-bold"
        >
            <h1
                class="md:text-4xl text-3xl font-extrabold mb-6 dark:text-white"
            >
                {title}
            </h1>
            <slot />
        </article>

        <div class="flex justify-between items-center mt-14">
            <a href="/" class="font-semibold dark:text-white"
                >« Atrás</a
            >
            {
                previousPost && (<a href={`/${previousPost.slug}`} class="font-semibold text-blue-500 dark:text-blue-400">{ previousPost.data.title }</a>)
            }
        </div>
    </div>
    <Footer />
</MainLayout>
