---
import MainLayout from '@layouts/MainLayout.astro';
import { formatDate, orderByDate } from '@helpers';
import { getCollection } from 'astro:content';

const { type, title, description, publishedAt, path, nofollow, noindex, tags, og = false } = Astro.props;

const entries = orderByDate(
    await getCollection(type === 'original' ? 'posts' : 'projects', ({data}) => !data.draft)
);

const postIndex = entries.findIndex(entry => `/${entry.slug}` === path);

const previousPost = entries.length >= 1 || (entries.length - 1) === 0 ? entries[postIndex + 1] : null;
---

<MainLayout
    title={`${title} — Jhon Achata`}
    description={description}
    path={path}
    nofollow={nofollow}
    noindex={noindex}
    publishedAt={publishedAt}
    post={true}
    og={og}
>
    <article class="mt-4" data-pagefind-body itemscope itemtype="https://schema.org/NewsArticle">
        <header class="space-y-2 border-b border-purple-400 pb-2">
            {
                tags.length > 0 && (
                    <ul data-pagefind-ignore class="flex flex-wrap text-md text-purple-600 dark:text-purple-400 gap-x-2 gap-y-1">
                        {tags.map((tag) => (
                            <li class="tracking-wide">#{tag}</li>
                        ))}
                    </ul>
                )
            }
            <h1 itemprop="headline" class="font-mono text-2xl md:text-3xl font-bold dark:text-slate-50">{title}</h1>
            <p itemprop="author" itemscope itemtype="https://schema.org/Person" class="text-sm text-slate-600 dark:text-slate-200 pt-2">
                Escrito por
                <a itemprop="url" href="https://linkedin.com/in/jhonachata" target="_blank" title="Author" class="font-semibold text-indigo-600 dark:text-indigo-400" rel="nofollow noopener">
                    <span itemprop="name">Jhon Achata</span>
                </a>
                el 
                <span itemprop="datePublished" content={publishedAt}>{formatDate(publishedAt)}</span>
            </p>
        </header>
        <!-- <article class="font-body w-full border-b border-gray-300 pb-4 prose-lg prose-headings:font-semibold prose-p:text-lg prose-img:w-full prose-a:text-red-700 dark:prose-a:text-red-400 prose-a:font-bold dark:text-slate-100 dark:prose-h2:text-slate-100 dark:prose-h3:text-slate-100 dark:prose-h4:text-slate-100 dark:prose-blockquote:text-slate-100 dark:prose-strong:text-purple-400 prose-img:shadow-md prose-li:list-disc prose-li:my-0 prose-blockquote:border-l-4 prose-blockquote:text-slate-600"> -->
        <div class="font-body border-b mt-2 border-slate-300 pb-4 prose prose-md max-w-full prose-indigo dark:prose-invert dark:prose-a:text-indigo-400 dark:prose-headings:text-slate-100 dark:prose-p:text-slate-100 prose-img:w-full prose-headings:before:content-['#'] prose-headings:before:text-slate-400/75 prose-headings:before:mr-2">
            <slot />
        </div>
        <section data-pagefind-ignore class="flex justify-between text-sm font-mono dark:text-slate-100 mt-2">
            {
                previousPost && (<h3><span>Te puede interesar: <a href={`/${previousPost.slug}/`} title={previousPost.data.title} class="w-full p-2 font-semibold text-purple-600 dark:text-purple-400">{ previousPost.data.title }</a></span></h3>)
            }
        </section>
    </article>
</MainLayout>
