---
import { SEO } from 'astro-seo';

import DarkModeToggle from '../components/DarkModeToggle.astro';

const {
    title,
    description = 'Fullstack Developer con m치s de 3 a침os de experiencia, orientado a las buenas pr치cticas y al c칩digo limpio.',
    path = '',
    nofollow = false,
    noindex = false,
} = Astro.props;

const url = import.meta.env.PUBLIC_APP_URL;
const ga = import.meta.env.PUBLIC_GA;
const gaUrl = `https://www.googletagmanager.com/gtag/js?id=${ga}`;
---

<!DOCTYPE html>
<html lang="es-PE">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            title={title}
            description={description}
            canonical={`${url}${path}`}
            nofollow={nofollow}
            noindex={noindex}
            extend={{
                meta: [
                    {
                        name: 'og:title',
                        content: title,
                    },
                    {
                        name: 'og:description',
                        content: description,
                    },
                    {
                        name: 'og:url',
                        content: `${url}${path}`,
                    },
                    {
                        name: 'og:image',
                        content: `${
                            import.meta.env.PUBLIC_APP_URL
                        }/images/preview.jpg`,
                    },
                    {
                        name: 'twitter:creator',
                        content: 'Jhon Achata',
                    },
                    {
                        name: 'twitter:card',
                        content: 'summary',
                    },
                    {
                        name: 'twitter:site',
                        content: '@jhonachata',
                    },
                    {
                        name: 'twitter:image',
                        content: `${
                            import.meta.env.PUBLIC_APP_URL
                        }/images/preview.jpg`,
                    },
                ],
            }}
        />
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />
        <!-- Google tag (gtag.js) -->
        <script type="text/partytown" async src={gaUrl}></script>
        <script type="text/partytown" define:vars={{ ga }}>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', ga);
        </script>
    </head>
    <body
        class="text-gray-900 font-sans antialiased dark:bg-slate-800 transition-colors ease-in-out duration-300"
    >
        <div
            class="container w-11/12 md:w-8/12 lg:w-6/12 xl:w-4/12 h-screen m-auto flex flex-col"
        >
            <slot />
        </div>
        <DarkModeToggle />
    </body>
</html>
