---
import { SEO } from 'astro-seo';

import Header from '@shared/Header.astro';
import Footer from '@shared/Footer.astro';
import Head from '@shared/Head.astro';

import '../global.css';

const {
    title,
    description = 'Fullstack Developer con m치s de 4 a침os de experiencia, orientado a las buenas pr치cticas y al c칩digo limpio.',
    path = '',
    nofollow = false,
    noindex = false,
    post = false,
    publishedAt = new Date().toISOString(),
    og = false,
} = Astro.props;

const url = import.meta.env.PUBLIC_APP_URL;
---

<!DOCTYPE html>
<html lang="es-PE">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:site_name" content="Jhon Achata" />
        <meta property="og:description" content={description} />

        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: post ? 'article' : 'website',
                    image: og
                        ? `${import.meta.env.PUBLIC_APP_URL}/images/og${path}.webp`
                        : `${import.meta.env.PUBLIC_APP_URL}/images/preview.jpg`,
                    url: `${url}${path}/`,
                },
                article: {
                    publishedTime: publishedAt,
                    modifiedTime: publishedAt,
                    authors: [
                        'Jhon Achata Limachi',
                    ],
                }
            }}
            canonical={`${url}${path}/`}
            noindex={noindex}
            twitter={{
                card: 'summary',
                title: title,
                site: '@jhonachata',
                creator: '@jhonachata',
                description: description,
                image: og
                    ? `${import.meta.env.PUBLIC_APP_URL}/images/og${path}.webp`
                    : `${import.meta.env.PUBLIC_APP_URL}/images/preview.jpg`,
            }},
            extend={{
                meta: [
                    {
                        name: 'author',
                        content: 'Jhon Achata Limachi',
                    }
                ],
            }}
        />
        <Head />
    </head>
    <body
        class="antialiased dark:bg-slate-800"
    >
        <div
            class="relative container py-6 w-11/12 md:w-10/12 lg:w-7/12 grid grid-cols-1 md:grid-cols-5 xl:grid-cols-4 mx-auto"
        >
            <Header path={Astro.url.pathname} />
            <main class="md:col-start-3 md:col-end-6 xl:col-start-2 xl:col-end-5 md:pl-2 mt-4 md:mt-0 space-y-4">
                <slot />
                <Footer />
            </main>
        </div>
    </body>
</html>
